{% extends "base.html" %}

{% block content %}
    <a href="{% url "group_list" %}">group list</a>
{% endblock %}

{% block content2 %}
    <table>
        <tr>
            <th align="left">
                <p>Surname: {{ surname }}</p>
                <p>First name: {{ first_name }}</p>
                <p>Last name: {{ last_name }}</p>
                <p>Card number: {{ card_number }}</p>
                <p>Birthday: {{ date_birthday }}</p>
                <a href="{% url "student_confirm_delete" pk %}">delete</a>
                <a href="{% url "student_update" pk %}">update</a>
            </th>
        </tr>
    </table>
{% endblock %}