{% extends "group/base.html" %}


{% block content %}
    {% if student_list %}
        <li><a href="/">Home</a></li>
        <h1><a href="/student_create/">Create student</a></h1>
        <table border="1" cellpadding="1" align="center" width="50%">
        <tr bgcolor="#ffebcd">
            <th><p>S.F.L.</p></th>
            <th><p>update/delete</p></th>
        </tr>
        <tr>

            {% for student in student_list %}
                <tr>
                <th align="left">
                    <p>
                        <a href="{% url "student_detail" student.id %}"> {{ student}}</a>
                    </p>
                </th>
                <th>
                    <p>
                        <a href="{% url "student_update" student.id %}">update</a> /
                        <a href="{% url "student_confirm_delete" student.id %}">delete</a>
                    </p>
                </th>
                </tr>
            {% endfor %}

        </tr>
        </table>
    {% endif %}
{% endblock content %}
