body {
    text-align: left;
}
div {
    height: 100%; /* Высота */
    margin: 10px;
    padding: 20px;

}

.header {
    text-align: center;
    width: 95%;
    position: relative;
    top: -10px;
    height: 90px;
    background: #38a5f0;
}


.left {
    position: fixed;
    top: 20px;
    left: 25px;
    height: 30px;
}


.right {
    position: fixed;
    top: -20px;
    right: 25px;
    height: 45px;
}

.center {
    position: fixed;
    center: 0px;
    right: 25px;
    height: 30px;
}

.bottom {
    align-content: center;
    width: 95%;
    text-align: center;
    background: #CADADD;
}

.content {
    width: 95%;
    background: #f2f1f0;
}


.Table {
        display: table;
    }

.Title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row {
    display: table-row;
}

.Cell {
    display: table-cell;
    border: solid;
    text-align: center;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}


A:link {
    color: #036; /* Цвет непосещенных ссылок */
}

A:visited {
    color: #606; /* Цвет посещенных ссылок */
}

A:hover {
    color: #f00; /* Цвет ссылок при наведении на них курсора мыши */
}

A:active {
    color: #ff0; /* Цвет активных ссылок */
}
