<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %} My base Template {% endblock %}</title>
    <link type="text/css" href="{{ STATIC_URL }}css/main.css" rel="stylesheet">

</head>
<body>
    <hr>
    <table width="100%">
    <tr>
    <td>
        {% block sidebar %}
            <li><a href="/group_list/">Groups</a></li>
        {% endblock %}
    </td>

    <td align="right" width="20%" bgcolor="#7cfc00">
        {% block author %}

            {% if user.is_authenticated %}
            Добро пожаловать: <a href = "/admin/password_change/">
            {% if user.first_name != "" %}
                {{ user.first_name }}</a>
            {% else %}
                {{ user.username }}</a>
            {% endif %}
                <p><a href = "/accounts/logout/" style = "color: red">Выйти</a></p>
            {% else %}
                <form action = "/accounts/login/" method = "GET">
                <label>Логин: </label>
                <input type = "text" name = "username" value = "">
                <label>Пароль: </label>
                <input type = "password" name = "password" value = "">
                <input type = "submit" value = "Войти">
                </form>
            {% endif %}
                <a href="/accounts/register/">Register</a>

        {% endblock %}
    </td>
    </tr>
    </table>
    {% block content %}{% endblock %}<br />
    {% block content2 %}{% endblock %}
    {% block footer %}
    <hr>
    {% block settings %}
    <a href = "">Custom tag</a>
    <hr>
    <a href  = "">Показать настройки</a><br />
    {% endblock %}
    {% endblock %}
</body>
</html>