{% extends 'base.html' %}


{% block content %}
        Group: {{ group }}
                        <a href="{% url 'group_delete' object.id %}" >delete</a>
                        <a href="{% url 'group_update' object.id %}" >update</a>
        <table class="table table-bordered">
            <tr>
                <th>№</th>
                <th>Surname</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Card number</th>
                <th>Date birthday</th>
            </tr>
            {% if object.students.all  %}
                {% for student in object.students.all %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <th>{{ student.surname }}</th>
                    <th>{{ student.first_name }}</th>
                    <th>{{ student.last_name }}</th>
                    <th>{{ student.card_number }}</th>
                    <th>{{ student.date_birthday }}</th>
                    <th><a href={% url "student_detail" student.pk %}>detail</a></th>
                    <th><a href={% url "student_delete" student.pk %}>delete</a></th>
                </tr>
                {% endfor %}
            {% else %}
               <p>No students in group</p>
            {% endif %}
        </table>
        <h6>
        <form method="post">{% csrf_token %}
            {{ student_form }}
            <button type="submit">Add student</button>
        </form>
        </h6>
{% endblock %}