{% extends 'base.html' %}


{% block content %}
    <div class="content">
        Group: {{ group }}
                {% if user.is_staff == True %}
                        <a href="{% url 'group_delete' group_pk %}" >delete</a>
                        <a href="{% url 'group_update' group_pk %}" >update</a>
                {% endif %}
    <div class="Table">
        {% if student_list %}
            {% for student in student_list %}
                <div class="Row">
                    <div class="Cell">
                    Student: <a href={% url "student_detail" student.pk %}>{{ student }} </a>
                    </div>
                </div>
            {% endfor %}

            {% else %}
                <p>No students in group</p>
        {% endif %}
    </div>
    </div>
{% endblock %}
