{% extends 'base.html' %}

{% block content %}
    {% if user.is_superuser == True %}
        <a href="{% url "group_create" %}">Create group</a>
    {% endif %}
{% if list %}
    <table border="1" cellpadding="" align="center">
    <tr>
        <th bgcolor="#ffe4c4">Name of the group</th>
        <th bgcolor="#ffe4c4">Number of students</th>
        <th bgcolor="#ffe4c4">Elder of group</th>
    </tr>
        {% for group in list %}

            <tr>
                <th><a href="{% url 'group_detail' group.id %}" >{{ group.name }}</a></th>
                <th align="center">{{ group.student.count }}</th>
                <th>{{ group.elder }}</th>
            </tr>

        {% endfor %}
    </table>
{% else %}
    <p>No groups are available</p>
{% endif %}
{% endblock %}

