{% extends 'base.html' %}
{% block title %}Groups{% endblock %}
{% block content %}
{% load render_to_admin %}
    <h3><a href="{% url "group_create" %}">Create group</a></h3>
    <table class="table table-striped">
        <tr>
            <th><p>Name of group</p></th>
            <th><p>Number of students</p></th>
            <th><p>Elder of group</p></th>
        </tr>
        {% for object in object_list %}
            <tr>
                <th>
                    <a href="{% url 'group_detail' object.id %}" >{{ object }}</a>
                {% if user.is_superuser %}
                    <a href="{% go_to_admin object %}">edit in admin</a>
                {% endif %}
                </th>
                <th>
                    {{ object.students.count }}
                </th>
                <th>
                    {{ object.elder }}
                </th>
            </tr>
        {% endfor %}

    </table>
{% endblock %}


{#{% load render_to_admin %}#}

{#{% block content %}#}
{##}
{#        <div class="content">#}
{#            <a href="{% url "group_create" %}">Create group</a>#}
{#        <div class="Table">#}
{#            <div class="Heading">#}
{#                <div class="Cell">#}
{#                    <p>Name of group</p>#}
{#                </div>#}
{#                <div class="Cell">#}
{#                    <p>Number of students</p>#}
{#                </div>#}
{#                <div class="Cell">#}
{#                    <p>Elder of group</p>#}
{#                </div>#}
{#            </div>#}
{#            {% for object in object_list %}#}
{#                <div class="Row">#}
{#                    <div class="Cell">#}
{#                        <p><a href="{% url 'group_detail' object.id %}" >{{ object }}</a></p>#}
{#                        {% if user.is_superuser %}#}
{#                        <a href="{% go_to_admin object %}">edit in admin</a>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                    <div class="Cell">#}
{#                         <p>{{ object.students.count }}</p>#}
{#                    </div>#}
{#                    <div class="Cell">#}
{#                        {{ object.elder }}#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#        </div>#}
{#{% endblock %}#}