{% extends 'base.html' %}


{% block content %}

        <div class="content">
        <a href="{% url "group_create" %}">Create group</a>
        <div class="Table">
            <div class="Heading">
                <div class="Cell">
                    <p>Name of the group</p>
                </div>
                <div class="Cell">
                    <p>Number of students</p>
                </div>
                <div class="Cell">
                    <p>Elder of group</p>
                </div>
            </div>
            {% for group in list %}
                <div class="Row">
                    <div class="Cell">
                        <p ><a href="{% url 'group_detail' group.id %}" >{{ group.name }}</a></p>
                        <p><a href = {% url "admin:students_group_change" group.id %}>edit in admin</a></p>
                    </div>
                    <div class="Cell">
                        <p>{{ group.students.count }}</p>
                    </div>
                    <div class="Cell">
                        <p>{{ group.elder }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        </div>
{% endblock %}